body {
	font-family: sans-serif;
}

div {
	text-align: center
}

#word {
	text-indent: 2px;
	line-height: 1.0;
	color:red;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
}

#letter {
	padding: 10px;
	width: 160px;	
}

#insert {
	border: 5px solid white; 
	padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 10px;
	
}

input[type="text"] {
    font-size:12px;
}

#newGame {
	display: none;
}
